@page
@model IndexModel
@{
    ViewData["Title"] = "";
}

    <div class="text-center">
        <h1 class="display-4">PRIJAVITE SE</h1>

        <p>Korisnicko ime</p>
        <p>Sifra</p> 
    </div>
